.bottom-images {
align-items: center;
display: flex;
justify-content: space-between;
}


.bottom-sec{
  align-items: center;
  border: 0;
  border-top: 1px solid hsla(0,0%,100%,.05);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 22px;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  width: 100%;
}



.img1 {
  vertical-align: middle;
  height: 56px;
  width: 64px;
  margin-right: 32px
}


.img2 {
  height: 56px;
  width: 64px;
  margin-right: 32px;
}


.img3 {
  height: 43px;
  margin-right: 32px
}


.licensed {
  font-size: 14px;
  line-height: 22px;
}

.img4 {
  height: 32px;
  margin-left: 8px;
}